__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.bak
*.swp

.DS_Store
Thumbs.db
.vscode/
.idea/
.env
*.egg-info/
dist/
build/
.eggs/

exploratory_data_analysis/__pycache__/
exploratory_data_analysis/*.pkl
exploratory_data_analysis/*.csv
exploratory_data_analysis/*.json
exploratory_data_analysis/*.log


logs/
*.log
*.out
*.err

!cfg/
!exploratory_data_analysis/
!models/
!models/YOLO/
!models/Faster_RCNN/
!run.py
!Dockerfile
!README.md
!requirements.txt
